# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
fly_through
test
.autotools
.cproject
.project
rotating_cube
triangle
two_static_light_sources
great_balls_of_fire
